body{
    color: 292929;
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart{
    width: 80%;
    margin: auto;
}

.dashboard-intro{
    background-color: ECE9FD;
}

.dashboard-items{
    border: 2px solid red;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dashboard-items .item-container:nth-child(odd) {
    background-color: white;
}

.dashboard-items .item-container:nth-child(even) {
    background-color: #F6F6F6; 
}


.item-container{
    display: block;
}