body{
    color: 292929;
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart{
    width: 80%;
    margin: auto;
}

#increment-btn{
    border: none;
    padding: 50px 200px;
}

.dashboard-intro{
    background-color: ECE9FD;
}

.dashboard-items{
}

.item {

}
.dashboard-items .item:nth-child(odd) {
    background-color: white;
}

.dashboard-items .item:nth-child(even) {
    background-color: #F6F6F6; 
}

.dashboard-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 24;
}

.dashboard-table th,
.dashboard-table td {
    width: 150px;
    height: 50px; 
    padding: 8px; 
}
