body{
    color: 292929;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.readings{
    width: 90%;
    border: 1px solid #EAECF0;
    background-color: white;
    border-radius: 10px;
    margin: 10px;

}

.readings h2{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #EAECF0;
}

.params{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.chart{
    background-color: white;
    width: 90%;
    height: 30%;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    margin: auto;
    font-size: 1em;
    padding: 10px;
}

.chart h2 {
    border-bottom: 1px solid #EAECF0;
    padding: 10px;
    margin-top: 0;
}

#waste-chart{
    font-size: 2em;
}

#increment-btn{
    border: none;
    padding: 50px 200px;
}

.dashboard-intro{
    background-color: ECE9FD;
}

.dashboard-items{
}

.item {

}
.dashboard-items .item:nth-child(odd) {
    background-color: white;
}

.dashboard-items .item:nth-child(even) {
    background-color: #F6F6F6; 
}

.dashboard-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 24;
}

.dashboard-table th,
.dashboard-table td {
    width: 150px;
    height: 50px; 
    padding: 8px; 
}
